<a href="https://colab.research.google.com/github/allegheny-college-cmpsc-101-spring-2024/course-materials/blob/main/notes/20240222_structured_types_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Defining n-Tuples in Python Programs

- lists are a data type
- lists are containers
- lists contain things that can be any data type
- lists are mutable

In [ ]:
# these are lists
new_pair = [3.2, 4]
new_quadlist = ["Story number", 3, "is", True]

# what is the data type of `new_pair` and `new_quadlist`?
# what is similar about the definition of `new_pair` and `new_quadlist`
# What are the data types of the values in these lists?

In [ ]:
# Is it required to have all the same data type within a list?
# Write your own example storing three mixed-type items in a list.

In [ ]:
# these are lists
list_empty = []
list_str = ["Story"]
list_int = [3]
list_float = [3.14159]


# what is the data type of `list_empty` and `list_str`?
# what is the data type of `list_int` and `list_float`?
# What are the data types of the _values_ in these list?

In [ ]:
# Do lists always have to contain data?
# What is the difference between a list and a number conceptually
# What is the difference between a list and a number syntactically?

In [3]:
# does a tuple == a list with the same elems?

tu = (1,)
li = [1]
print("does a tuple == a list with the same elems? ", tu == li)
print("are the elements the same? ", tu[0] == li[0])

does a tuple == a list with the same elems?  False
are the elements the same?  True

# creating new lists

In [ ]:
pair = [3.2, 4]
quadlist = ["Story number", 3, "is", True]
new_list = pair + quadlist
print(new_list)

# packing and unpacking lists

In [5]:
# pack a list into a variable
pair = [3,4]
# create a list named quintlist and pack in 5 elements

In [8]:
# unpack the contents of a list

x, y = pair

# unpack the contents of `quintlist` into 5 new variables

In [ ]:
# describe your understanding of a list so far

In [ ]:
# what is happening here?

a = [1, 2, 3]
print(a[0])

# is `a` a list?
# what do the square brackets mean
# is there any variable name assigned to the list?

In [ ]:
# what happens in this line of code

a = [1, 2, 3][0]

# is `a` a list?
# what do the parens mean
# what do the square brackets mean
# is there any variable name assigned to the list?

In [ ]:
# what happens in this line of code

a = [1, 2, 3]
a[0] = 10

# is `a` a list?
# what do the parens mean
# what do the square brackets mean
# is there any variable name assigned to the list?
# does the code crash?

In [ ]:
# re-describe your understanding of a list so far

# appending to existing list

In [9]:
a = [1, 2, 3]
a.append(1)
print(a)

[1, 2, 3, 1]

In [10]:
a = [1, 2, 3]
list.append(a, 1)
print(a)

[1, 2, 3, 1]

# slicing

In [11]:
a = [0, 'elem1', 'elem2', 3, 'this is the fourth element', '5', '6.0000', 7, 8.0000]
# retrieve elements 0 up to 3rd (not including 3rd)
print(a[0:3])

[0, 'elem1', 'elem2']

In [12]:
a = [0, 'elem1', 'elem2', 3, 'this is the fourth element', '5', '6.0000', 7, 8.0000]
# retrieve elements 0 up to 8th (not including 8th), in step size of 2
print(a[0:8:2])

[0, 'elem2', 'this is the fourth element', '6.0000']

In [13]:
a = [0, 'elem1', 'elem2', 3, 'this is the fourth element', '5', '6.0000', 7, 8.0000]
# retrieve elements 5 up to 8th (including 8th)
print(a[5:])

['5', '6.0000', 7, 8.0]

In [17]:
a = [0, 'elem1', 'elem2', 3, 'this is the fourth element', '5', '6.0000', 7, 8.0000]
# retrieve elements 2 up to 2nd to last (not including 2nd to last)
print(a[2:-2])

['elem2', 3, 'this is the fourth element', '5', '6.0000']

In [14]:
a = [0, 'elem1', 'elem2', 3, 'this is the fourth element', '5', '6.0000', 7, 8.0000]
# retrieve elements from end to 0 (not including 0) backward (step size -1)
print(a[:0:-1])

[8.0, 7, '6.0000', '5', 'this is the fourth element', 3, 'elem2', 'elem1']

In [15]:
a = [0, 'elem1', 'elem2', 3, 'this is the fourth element', '5', '6.0000', 7, 8.0000]
# retrieve elements from end to 0 (including 0) backward (step size -1)
print(a[::-1])

[8.0, 7, '6.0000', '5', 'this is the fourth element', 3, 'elem2', 'elem1', 0]

In [ ]:
a = [0, 'elem1', 'elem2', 3, 'this is the fourth element', '5', '6.0000', 7, 8.0000]
# retrieve a string and do further indexing
print(a[4][8:-8])

# pretty print

In [ ]:
from typing import Iterable

def prettyprint(values: Iterable[int]) -> str:
  return str(values)[1:-1]


my_divisors = [1, 97]
print(f"not pretty divisors are: {my_divisors}")
print(f"pretty divisors are: {prettyprint(my_divisors)}")

# loops

In [ ]:
a = [0, 'elem1', 'elem2', 3, 'this is the fourth element', '5', '6.0000', 7, 8.0000]

for item in a:
  print(item)

for character in a[4]:
  print(character)

# algorithms with lists

In [ ]:
# define a function that can apply a provided
# function to each element in the list to change
def apply_to_each(list_to_change, function):
    for i in range(len(list_to_change)):
        list_to_change[i] = function(list_to_change[i])

In [ ]:
values = [1, -2, 3.33]
print("values =", values)
apply_to_each(values, abs)
print("values =", values)