<a href="https://colab.research.google.com/github/allegheny-college-cmpsc-101-fall-2023/course-materials/blob/main/Warmups/solutions/warmup_parsing_soln.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# warmup

## list of lists

In [1]:
data = [[1,2,3,4,5],[6,7,8,9,0],[0,1,2,3,4], [5,6,7,8,9],[2,3,4,5,6],[4,5,6,7,8]]

In [6]:
# computationally determine how many rows of data there are
num_rows = len(data)
print(num_rows)

6

In [5]:
# computationally determine how many columns of data are in each row
num_cols = len(data[0])
print(num_cols)

5

In [3]:
# write two expressions that retrieve the number 0 from the data (two locations)
first0 = data[1][4]
second0 = data[2][0]
print(first0)
print(second0)

0
0

In [11]:
# create another data storage container above using the following datastring

datastring = '1,2,3,4,5\n6,7,8,9,0\n0,1,2,3,4\n5,6,7,8,9\n2,3,4,5,6\n4,5,6,7,8\n'

data2 = []

rows = datastring.splitlines()
for row in rows:
  split_row = row.split(',')
  split_row = [int(i) for i in split_row]
  data2.append(split_row)

print(data2)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 0], [0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [2, 3, 4, 5, 6], [4, 5, 6, 7, 8]]

In [12]:
# count up how many odd numbers appear in the 0th column of the data
count = 0
for row in data2:
  if row[0]%2 == 1:
    count += 1

print(count)

2

In [14]:
datastring = "wine,89,123\nbeer,90,154\npizza,95,258\nburger,100,354\nfries,90,365\ncola,79,150\napple,50,95\ndonut,10,195\ncake,110,127\n"

lines = datastring.splitlines()
name = []
value = []
calorie = []
for line in lines:
  splitline = line.split(',')
  name.append(splitline[0])
  value.append(int(splitline[1]))
  calorie.append(int(splitline[2]))

# get all of the food names into a list
# get all of the food deliciousness values into a list
# get all of the food calorie cost into a list

print(name)
print(value)
print(calorie)

['wine', 'beer', 'pizza', 'burger', 'fries', 'cola', 'apple', 'donut', 'cake']
[89, 90, 95, 100, 90, 79, 50, 10, 110]
[123, 154, 258, 354, 365, 150, 95, 195, 127]