<a href="https://colab.research.google.com/github/allegheny-college-cmpsc-101-fall-2023/course-materials/blob/main/Warmups/questions/warmup_parsing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# warmup

## list of lists

In [ ]:
data = [[1,2,3,4,5],[6,7,8,9,0],[0,1,2,3,4], [5,6,7,8,9],[2,3,4,5,6],[4,5,6,7,8]]

In [ ]:
# computationally determine how many rows of data there are

In [ ]:
# computationally determine how many columns of data are in each row

In [ ]:
# write two expressions that retrieve the number 0 from the data (two locations)

In [ ]:
# create another data storage container above using the following datastring

datastring = '1,2,3,4,5\n6,7,8,9,0\n0,1,2,3,4\n5,6,7,8,9\n2,3,4,5,6\n4,5,6,7,8\n'

In [ ]:
# count up how many odd numbers appear in the 0th column of the data

In [ ]:
datastring = "wine,89,123\nbeer,90,154\npizza,95,258\nburger,100,354\nfries,90,365\ncola,79,150\napple,50,95\ndonut,10,195\ncake,110,127\n"

# get all of the food names into a list
# get all of the food deliciousness values into a list
# get all of the food calorie costs into a list